{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="title">dish-album</h1>
<div class="dish_home">
    <img src="{% static 'pictures/dish_album_home.jpg' %}" alt="ホーム画像">
</div>
{% if user.is_authenticated %}
    <div class="base">
        {% if messages %}
        {% for message in messages %}
        <ul class="messages">
            <li class="{{ message.tags }}">{{ message }}</li>
        </ul>
        {% endfor %}
        {% endif %}
        <h2>{{ view.request.user.username }}のdishHOME</h2>
        <p>現在の料理登録数：{{ dish_count }}件</p>
    </div>
{% endif %}
{% endblock content %}
    