{% extends 'base.html' %}

{% block content %}
 <div class="base">
    <h2>料理一覧＆検索画面</h2>
    {% if messages %}
        {% for message in messages %}
        <ul class="messages">
            <li class="{{ message.tags }}">{{ message }}</li>
        </ul>
        {% endfor %}
    {% endif %}    
    <form action="" method="get">
        <p>料理名: <input type="text" name="dish_name" value="{{ dish_name }}"></p>
        <p>店名: <input type="text" name="shop_name" value="{{ shop_name }}"></p>
        <!-- <p>値段で並び替える:
            昇順<input type="radio" name = "order_by_price" value="1" {% if syojun %}checked{% endif %}>
            降順<input type="radio" name = "order_by_price" value="2" {% if kojun %}checked{% endif %}>
        </p> -->
        <p><input type="submit" value="検索する"></p>
    </form>
    <table>
        {% if mydish %}
        <thead>
            <tr>
                <th class="table_width">料理名</th>
                <th class="table_width">店名</th>
                <th class="table_width">価格</th>
                <th class="comment_width">一言コメント</th>
            </tr>
        </thead>
        <tbody>
            {% for dish in object_list %}
            <tr>
                <td class="table_width"><a href="{% url 'dishapp:dish_detail' pk=dish.pk %}">{{ dish.dish_name }}</a></td>
                <td class="table_width">{{ dish.shop_name }}</td>
                <td class="table_width">{{ dish.price }} 円</td>
                <td class="comment_width">{{ dish.comment }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>何も料理を登録していません。</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <a class="back_home" href="{% url 'dishapp:dish_home'%}">ホームへ戻る</a>
</div>
{% endblock content %}
    