{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="base">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2>ユーザログイン画面</h2>
        <form action="" method="post" class="base_form">
            {% csrf_token %}
            {{ form.as_ul }}
            <input type="hidden" name="next" value="{{ request.GET.next}}">
            <input type="submit" value="ログイン">
        </form>
</div>
{% endblock content %}
    
